$black: #212121;
$white: #FFFFFF;
$blue: #2196f3;
$indigo: #303f9f;
$red: #f44336;
$grey: #e0e0e0;

$colorMap: ('black': $black, 'white': $white, 'blue': $blue, 'indigo': $indigo, 'red': $red, 'grey': $grey);

$border-color: #D8D8DA;
$box-shadow: 0 0 1px 0 $grey, 0 4px 4px 0 rgba($grey, .24);
